<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Display</title>
</head>
<body>
<div>
  <div class="d-flex">
    <h1 class="text-primary mr-auto p-2"> Welcome {{user.first_name}}</h1>
      <h4><a href="/new" class="m-2 p-2" >Create</a></h4>
      <h4><a href="/logout" class="m-2 p-2" >Logout</a></h4>
  </div>
  <h3 class="m-2">These are the Recipes</h3>
  <table class="table table-striped table-bordered mt-5" style="width: 1000px;">
    <tr class="text-primary">
      <th>Name</th>
      <th>Under 30 Minutes</th>
      <th>Actions</th>
    </tr>
    <tbody>
      {% for r in recipes %}
      <tr class="text-warning">
        <td>{{r.name}}</td>
        {% if r.under_30 == 1 %}
          <td>Yes</td>
          {% else %}
          <td>No</td>
        {% endif %}
        <td>
          <a href="/view/{{r.id}}">View Instructions</a> 
          {% if r.user_id == session.user_id %}
          <a href="/edit/{{r.id}}">Edit</a>
          <a href="/destroy/{{r.id}}">Delete</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>