<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Display</title>
</head>
<body>
<div>
  <h1 class="mx-auto text-primary"> Welcome {{user.first_name}}</h1>
  <a href="/new">Create</a>
  <a href="/logout">Logout</a>
  <h3>These are the Recipes</h3>
  <table class="table table-striped table-bordered">
    <tr class="text-primary">
      <th>Name</th>
      <th>Under 30 Minutes</th>
      <th>Actions</th>
    </tr>
    <tbody>
      {% for r in recipes %}
      <tr class="text-warning">
        <td>{{r.name}}</td>
        <td>{{r.under_30}}</td>
        <td><a href="/view">View</a> <a href="/edit">Edit</a><a href="/instructions">Instructions</a><a href="/destroy">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>